@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-dark-gray: #383838;
    --color-card-gray: #F0F0F0;
    --color-white: #fff;
    --color-green: #38AF90;
    --color-light-gray: #E5E5E5;
    --color-medium-gray: #797979;
    --color-red: #DD7E92;
    --color-gray-form: #C4C4C4;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
}

.container {
    width: 990px;
    margin: 0 auto;
}

/* Header */

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
    padding: 15px;
}
  
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
} 
  
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
  
.logo h1 {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
  
.nav-right {
    display: flex;
    align-items: center;
}
  
.nav-right li {
    display: none;
}

.nav-right img {
    width: 62px;
}

/* Main ======================================================================= */

/* Section one ======================================== */

.section-titles {
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
  }
  
.section-titles h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-medium-gray);
    margin: 40px auto 8px auto;
}
  
.title-card {
    width: 300px;
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-gray);
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 1px;
    margin-bottom: 28px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.title-card button {
    width: 244px;
    height: 67px;
    color: var(--color-white);
    background-color: var(--color-red);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
}

.title-card-main {
    display: flex;
    flex-direction: column;
}

.title-card-main h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-green);
    margin: 16px 13px 0 12px;
}

.title-card-main p {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-medium-gray);
    margin: 3px 12px 3px 12px;
    
}

#horizontal-line {
    width: auto;
    border: 1px solid #000;
    background-color: var(--color-green);
    margin: 12px 12px 1px 12px;
}

.title-card-main span {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-green);
    margin: 0 12px 0 12px;
}
  
.title-card-description { 
    width: 300px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.title-card-description p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-medium-gray);
    margin: 28px 12px 25px 12px;
}

.title-card-description a {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-red);
    text-decoration: none;
    margin: 0 16px 12px 12px;
}
  
.title-price {
    color: #5aa04e;
    font-weight: 700;
    margin-top: 10px;
    font-size: 28px;
}
  
.title-price span {
    font-size: 18px;
}

/* Section Two ==================================================================*/

#dsgame-card-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-card-gray);
    padding: 0 10px;
}

#dsgame-card-list h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

.game-card {
    margin-bottom: 28px;
}

.dsgame-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    background-color: var(--color-white);
}

.dsgame-card img{
    width: 300px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    border: none;
}

.dsgame-card-description{
    background-color: var(--color-white);
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
}

.dsgame-card-description h3{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-medium-gray);
    margin-bottom: 10px;
    text-align: center;
}

.dsgame-card-description span {
    color: var(--color-green);
}

.dsgame-card-description p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-medium-gray)
}

.dsgame-card-description div {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-green);
}

/* Seção Formulário ===================================================*/

.dsgame-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dsgame-form h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-medium-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 16px auto;
}

.form-area {
    background-color: var(--color-light-gray);
    padding: 52px 10px 6px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
}

.text-form form {
    width: 300px;
    height: 603px;
    background-color: var(--color-card-gray);
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.text-form input {
    font-size: 16px;
    font-weight: 400;
    width: 280px;
    height: 50px;
    margin: 20px 10px 7px 10px;
    padding: 13px 100px 13px 22px;
    border: 12px;
    border: 1px solid var(--color-dark-gray);
    color: var(--color-card-gray);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-form ::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-form);
}

.ctrl-form {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-medium-gray);
    padding: 10px 10px 13px 10px;    
}

.submit-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vermelho {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-red);
} 

.branco {
    width: 244px;
    height: 67px;
    margin: 20px auto;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-red);
    background-color: var(--color-white); 
    border: 2px solid var(--color-red);   
}

/* Footer =======================================================================*/

footer {
    font-size: 14px;
    font-family: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 302px;

    margin: 40px auto 0 auto;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    padding: 28px auto;
}

.links a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 37px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.termos a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
