@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --color-dark-gray: #383838;
    --color-card-gray: #F0F0F0;
    --color-white: #fff;
    --color-green: #38AF90;
    --color-light-gray: #E5E5E5;
    --color-medium-gray: #797979;
    --color-red: #DD7E92;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
}

.container {
    width: auto;
    margin: 0 auto;
}

/* Header */

.nav-container {
    background-color: var(--color-green);
    height: 90px;
    width: 100%;
    padding: 15px;
}
  
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
} 
  
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
  
.logo h1 {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
  
.nav-right {
    display: flex;
    align-items: center;
}
  
.nav-right li {
    display: none;
}

.nav-right img {
    width: 62px;
}

/* Main ======================================================================= */

/* Section one ======================================== */

.section-titles {
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
  }
  
.section-titles h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-medium-gray);
    margin: 40px auto 8px auto;
}
  
.title-card {
    width: 300px;
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-gray);
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 1px;
    margin-bottom: 28px;

}

.title-card button {
    width: 244px;
    height: 67px;
    color: var(--color-white);
    background-color: var(--color-red);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: auto;
    border-radius: 8px;
}

.title-card-main {
    display: flex;
    flex-direction: column;
}

.title-card-main h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-green);
    margin: 16px 13px 0 12px;
}

.title-card-main p {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-medium-gray);
    margin: 3px 12px 3px 12px;
    
}

#horizontal-line {
    width: auto;
    border: 1px solid #000;
    background-color: var(--color-green);
    margin: 3px 12px 1px 12px;
}

.title-card-main span {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-green);
    margin: 0 12px 0 12px;
}
  
.title-card-description { 
    width: 300px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.title-card-description p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-medium-gray);
    margin: 28px 12px 25px 12px;
}

.title-card-description a {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-red);
    text-decoration: none;
    margin: 0 16px 12px 12px;
}

.title-card-description button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
  
.title-price {
    color: #5aa04e;
    font-weight: 700;
    margin-top: 10px;
    font-size: 28px;
}
  
.title-price span {
    font-size: 18px;
}

/* Section Two ==================================================================*/

#dsgame-card-list{
    padding: 0 10px;
}

.dsgame-card {
    width: 320px;    
}

.dsgame-card img{
    width: 300px;
    border-radius: 8px 8px 0 0;
}

.dsgame-card-description{
    background-color: var(--white);
    padding: 10px 2px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
}

.dsgame-card-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

